<!--book投稿後のページ-->
<% flash.each do |message_type, message| %>
  <div><%= message %></div>
<% end %>
<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class= "col-md-3">
      <!--部分テンプレート挿入部分-->
      <%= render 'template', user: @user, book: @book_new %>　　　
      <!--部分テンプレート挿入部分-->
      </div>  
 
  
  
    <div class= "col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class='table' >
          <tbody>
              <tr>
              <td>
                  <%= image_tag @user.get_profile_image(100,100) %>
                  <%= link_to user_path(@book.user.id) do %>
                  <nav>
                  <%= @book.user.name %>
                  </nav>
                  <% end %>
              
                  <td><%= link_to @book.title %></td>
                  <td><%= @book.body %></td>
                  <% if @book.user_id == current_user.id %>
                  <td><%= link_to "Edit", edit_book_path(@book.id),class:"btn-sm btn-success" %></td>
                  <td><%= link_to "Destroy", book_path(@book.id), class:"btn-sm btn-danger destroy(@book.id)", method: :delete, "data-confirm" => "本当に消しますか？" %></td>
                  <% end %>
                  
                  <td><% if @book.favorited_by?(current_user) %>
                        <%= link_to book_favorites_path(@book), method: :delete do %>
                        ❤<%= @book.favorites.count %>
                        <% end %>
                        <% else %>
                        <%= link_to book_favorites_path(@book), method: :post do %>
                        ♡<%= @book.favorites.count %>
                        <% end %>
                      <% end %>
                  </td>
              </td>
              </tr>
          </tbody>
        </table>
     <table class='table' >
        <td><p>コメント数：<%= @book.book_comments.count %></p>
            <% @book.book_comments.each do |book_comment| %>
              <p><%= image_tag book_comment.user.get_profile_image(100,100) %></p>
              <%= book_comment.user.name %>
              <%= book_comment.comment %>
              <% if book_comment.user == current_user %>
              <%= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete %>
              <% end %>
            <% end %>
        </td>
     </table>
    <table class='table' >
        <td>
          <%= form_with model: [@book,@book_comment] do |f| %>
            <%= f.text_area :comment, rows: '5', cols: '100', placeholder: "" %>
            <%= f.submit "送信" %>
          <% end %>
        </td>
    </table>
  </div>
  </div>
</div>





 

 