<!--book投稿後のページ-->
<% flash.each do |message_type, message| %>
  <div><%= message %></div>
<% end %>
<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class= "col-md-3">
      <!--部分テンプレート挿入部分-->
      <%= render 'template', user: @user, book: @book_new %>　　　
      <!--部分テンプレート挿入部分-->
      </div>  
 
  
  
  <div class= "col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class='table' >
      <tbody>
       <tr>
        <td>
          <%= image_tag @user.get_profile_image(100,100) %>
          <%= link_to user_path(@book.user.id) do %>
          <nav>
          <%= @book.user.name %>
          </nav>
          <% end %>
   
    
    <td><%= link_to @book.title %></td>
    <td><%= @book.body %></td>
    <% if @book.user_id == current_user.id %>
    <td><%= link_to "Edit", edit_book_path(@book.id),class:"btn-sm btn-success" %></td>
    <td><%= link_to "Destroy", book_path(@book.id), class:"btn-sm btn-danger destroy(@book.id)", method: :delete, "data-confirm" => "本当に消しますか？" %></td>
    <% end %>
     </td>
    </tr>
    </tbody>
    </table>
  </div>
  </div>
</div>